h1 {
    text-align: center;
}

.mybox {
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(103, 103, 103);
    padding: 10px;
    width: 30vw;
    height: 25vh;
    background-color: #fefefe;
}

input {
    width: 100%;
}

.message {
    text-align: center;
}